.my-products-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    .my-products-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
        }

        .new-product-btn {
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
            background: #007bff;
            color: #fff;
            border-color: #007bff;
            cursor: pointer;

            &:hover {
                opacity: 0.8
            }
        }
    }

    .my-products-list {
        text-align: center;
    }
}